block footer-content
    footer#footer.inverted
        .footer-content.p-t-10
            .container
                .row
                    p Developed by 
                        a(target='_blank' href='http://webhustler.xyz') Gagandeep Singh    
                    .social-icons.m-t-10.center
                        ul
                            li.social-google
                                a(href='http://webhustler.xyz')
                                    i.fab.fa-google-plus-g
                            li.social-linkedin
                                a(href='https://www.linkedin.com/in/gdeep-thind')
                                    i.fab.fa-linkedin
                            li.social-github
                                a(href='#')
                                    i.fab.fa-github
        // end: FOOTER
    // end: Body Inner
    // Scroll top
    a#scrollTop.scroll-to(href='body')
        i.icon-chevron-up
        i.icon-chevron-up
    // Plugins
    script(src='/js/jquery.js')
    script(src='/js/plugins.js')
    // Template functions
    script(src='/js/functions.js')
    <script src="/pageloader/pageloader.js"></script>
    <script src="/pageloader/pageloader.init.js"></script>